<!DOCTYPE html>
<html>
  <head>
   <!-- default line, source: THP Action Mailer resource -->
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <body>
    <h4>My Career Manager vous souhaite la bienvenue !</h4>
    <br />
    <p>
      Vous êtes inscrit·e sur mycareermanager.herokuapp.com avec l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace personnel, connectez-vous sur : <%= @url %>.
    </p>
    <p> À très vite,</p>
    <br />
    <p>Liobé Malogo</p>
    <p><i>CEO at My Career Manager</i></p>
  </body>
</html>