<!DOCTYPE html>
<html>
  <head>
   <!-- default line, source: THP Action Mailer resource -->
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <body>
    <h4>Welcome to My Career Manager!</h4>
    <br />
    <p>
      Your account at mycareermanager.herokuapp.com was successfully created with this email address: <%= @user.email %>.
    </p>
    <p>
      To access it and start tracking your applications, please click here: <%= @url %>.
    </p>
    <p>See you soon,</p>
    <br />
    <p>Liobé Malogo</p>
    <p><i>CEO at My Career Manager</i></p>
  </body>
</html>