<div id="collapse-job-details" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
  <hr>
  <div class="card-body job_offer">
    <h5 class="text-primary">
      Link of application
    </h5>
    <%= @application.joboffer_link %>
    <h5 class="text-primary"> Description </h5>
    <%= simple_format(@application.joboffer_description) %>
  </div>
</div>