<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
    <h5 class="text-primary">
      <a href=" http://tremblaygorczany.co/teodora.terry">Link of application
      </a>
    </h5>
    <%= @application.joboffer_link %>
    <h5 class="text-primary"> Description </h5>
    <%= @application.joboffer_description %>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal">Edit</button>
  <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="card">
          <!-- Logo-->
          <div class="card-header pt-4 pb-4 text-center bg-primary">
            <h4 style="color:white">Edit Application</h4>
          </div>

          <div class="card-body p-4">

            <form action="/applications/1/update_job_offer" accept-charset="UTF-8" data-remote="true" method="post"><input
                name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put">
              <div class="form-group">
                <label for="Link_to_job_offer">Link to job offer</label><br>
                <input type="url" name="joboffer_link" id="joboffer_link" value="http://tremblaygorczany.co/teodora.terry"
                  class="form-control" placeholder="Enter link">
              </div>
              <div class="form-group">
                <label for="Job_offer_description">Job offer description</label><br>
                <textarea name="joboffer_description" id="joboffer_description" class="form-control" placeholder="Enter a description or copy-paste the job offer"
                  cols="20" rows="10"><%= @application.joboffer_description %></textarea>
              </div>
              <div class="form-group">
                <input type="submit" name="commit" value="Edit application" class="btn btn-primary" data-disable-with="Edit application">
              </div>
            </form>
          </div> <!-- end card-body -->
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>