<div id="collapse-job-details" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
  <hr>
  <div class="card-body job-details">
    <%if @application.has_no_joboffer_details == true %> <a> You can keep here the link and/or description of
      this job offer.<br></a>
    <%else %>
    <h5 class="text-primary">
      <a href=' <%=@application.joboffer_link%>'>Link of application</a>
    </h5>
    <%= @application.joboffer_link %><br><br>
    <h5 class="text-primary"> Description </h5>
    <%= simple_format(@application.joboffer_description) %>
  </div>
  <%end %>
</div>