<div class="card-body collapse-job-details">
  <%if @application.has_no_joboffer_details == true %> <a> No job offer link or description.<br></a>
  <%else %>
  <h5 class="text-transparent-black">Link of application</h5>
  <%= link_to @application.joboffer_link, @application.joboffer_link,:target => "_blank" %><br><br>
  <h5 class="text-transparent-black"> Description </h5>
  <%= simple_format(@application.joboffer_description) %>
  <%end %>
</div>