        <body class="bg-formsandothers">
        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Start Content-->
                    <div class="container-fluid">
                                           <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box text-transparent-black">
                                    <h2 class="page-title text-center">ARCHIVED APPLICATIONS</h2>
                                </div>
                            </div>
                        </div>     
                        <!-- end page title --> 
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-6">
                                <div class="card bg-transparentblack">
                                    <div class="card-body">
                                        <% if @archived.count == 0 %>
                                        <h5 class="text-center text-white">No applications have been archived yet.</h5>
                                        <% else %>
                                       
                                        
                                        <div class="table-responsive">
                                            <table class="table table-sm table-centered mb-0">
                                                
                                                <tbody> <%@archived.each do |application|%>
                                                    <tr>
                                                        <td>
                                                            <h5 class="font-15 mb-1 font-weight-normal text-white"><%=application.company_name%></h5>
                                                            <span class="font-13 text-white"><%=application.position%></span>
                                                        </td>
                                                        <td><div class="d-flex justify-content-center flex-column align-items-center">
                                                        <%=link_to "View", application_path(application), method: :get, class: "text-white", class: "btn btn-halloween" %></div></td>
                                                        <td><div class="d-flex justify-content-center"><%=link_to "Delete Permanently", application_path(application), method: :delete, class: "text-white", class: "btn btn-salmon" %>
                                                        </div></td>
                                                    </tr><%end%> <%end%>    
                                                </tbody>
                                            </table>
                                            </div> <!-- end table-responsive-->    
                                                     
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <!-- end col -->  
                        </div>
                        <!-- end row-->  
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->
        </body>
      