/* index ************************************************/

.content-page {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.text-body {
  font-size: 20px;
}

.badge {
  font-size: 14px;
}

.float-right {
  font-size: 14px;
}

.tasks {
  width: 23%; 
}

.mt-2 {
  margin-bottom: 0rem!important;
}

.create-index-portrait {
  display: none
}

.next-step-header {
  background-color: rgb(209, 182, 60)!important;
}

.content {
  width: 80%;
}

.task-list-items:before {
  content: "No Application";
}




/*******************************************************/

/* fixed screen size for show_application*/
.d-lg-block {
  display: block !important;
}