/* index application ************************************************/

.content-page {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.text-body {
  font-size: 20px;
}

.badge {
  font-size: 14px;
}

.float-right {
  font-size: 14px;
}

.tasks {
  width: 23%;
}

.nextsteps-userview {
  width: 100%;
}

.mt-2 {
  margin-bottom: 0rem!important;
}

.create-index-portrait {
  display: none
}

.next-step-header {
  background-color: rgb(214, 161, 62)!important;
}

.next-step-background {
  background-color: rgb(224, 217, 207);
}

.content {
  width: 80%;
}

.task-list-items:before {
  content: "No Application";
}

.next-step {
  text-align: center;
  margin-bottom: 0.75rem!important;
}

.break-word {
  word-wrap: break-word;
}

.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hidden-form {
  display: none;
}


/*******************************************************/

/* fixed screen size for show_application*/
.d-lg-block {
  display: block !important;
}

/********************INDEX_CONTACTS********************/


/* make the email and phone icon disappear for large screens on index_contacts*/
   i.link-icon-sm{
    display: none;
  }

  .link-text-lg{
    margin-bottom: 0px;
  }

   i.link-icon-sm{
    margin-bottom: 0px;
  }

/********************LANDING PAGE********************/ 
.bg-image-lp{
  background: url("/assets/atrium.jpg");
  background-size: 50%;
    background-position: right;
}

 /********************FORMS********************/ 

  .bg-formsandothers{
    background-image: url("/assets/painting.jpg");
    background-size: 100%;
    background-position: center;
  }

  .bg-formsandothers.bigger, .auth-fluid-pages.bigger {
    min-height: 100px; }


