
/* index application ************************************************/

.index-title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
}

.content-page {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.text-body {
  font-size: 20px;
}

.badge {
  font-size: 14px;
}

.float-right {
  font-size: 14px;
}

.tasks {
  width: 22%;
  background-color: rgba(0, 0, 0, 0.3);
  border:none;
}

.nextsteps-userview {
  width: 100%;
}

.mt-2 {
  margin-bottom: 0rem!important;
}

.create-index-portrait {
  display: none
}

.next-step-header {
  background-color: #6f7884 !important;
  color: white;
  justify-content: center!important;
  background-color: rgba(0, 0, 0, 0.3)!important;
}

.task-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color:white;
  background-color: rgba(0, 0, 0, 0.3)!important;
}

.bg-transparentblack {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

.next-step-background {
  background-color: #6f7884;
}

.content {
  width: 75%;
  padding: 0px;
}

.next-step {
  text-align: center;
  margin-bottom: 0.75rem!important;
}

.break-word {
  word-wrap: break-word;
}

.hidden-form {
  display: none;
}

.p-3 {
  padding: 1rem!important;
}

/********************SHOW APPLICATION*******************/

/* fixed screen size for show_application*/
.d-lg-block {
  display: block !important;
}

.edit-notes {
  width: 100%;
}

#notes {
  border-style: none;
}

.save-changes {
  margin-bottom: 0px;
  padding-left: 15px;
}

.custom-accordion-title {
  padding-bottom: 0rem!important;
}

.job-details {
  padding: 0px;
}

.card-body {
  padding: 1rem;
}

#collapseOne {
  padding-left: 20px;
  padding-right: 20px;
}

.app-show-bottom {
  margin-top: 30px;
}

/********************INDEX_CONTACTS********************/


/* make the email and phone icon disappear for large screens on index_contacts*/
   i.link-icon-sm{
    display: none;
  }

  .link-text-lg{
    margin-bottom: 0px;
  }

   i.link-icon-sm{
    margin-bottom: 0px;
  }

/********************LANDING PAGE********************/ 
.bg-image-lp{
  background: image-url("atrium.jpg");
  background-size: 70%;
  background-position: left 110% top 82%;
}

 /********************FORMS********************/ 

  .bg-formsandothers{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    background-size: 100%;
    background-position: center; 
  }

  .bg-formsandothers.bigger, .auth-fluid-pages.bigger {
    min-height: 100px; }

  .card-black-form {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.50rem; 
    color: white;
  }

  .card-black-form-header {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
  }

  .modal-content{
    background:none;
  }


 /********************ALERT********************/ 

.alert {
  margin-bottom: 0rem;
}

 /********************NAVBAR********************/ 

.navbar{
  border-bottom: 1px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-container {
  max-width: 100%;
}

.navbar-nav {
  align-items: center;
}

.navbar-email {
  margin-left: 5px;
}

.dropdown-menu {
  right: 0!important;
  left: auto!important;
  background-color: rgba(0, 0, 0, 0.3);
  border-style: none;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-toggler {
  border-color: white!important;
}


 /********************CARD NEXT STEP - SHOW ********************/ 

.step-category-show{
  font-size: 18px; 
  margin-right: 2px;
}

.step-date-show{
  margin-left: 2px;
}

.step-col-show{
  margin-top: 10px;
}

.card {
  background:rgba(255,255,255, 0.9);
}

.card-black {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.50rem; 
  color: white;
}

 /********************COLORS ********************/ 


.bg-light-grey {
  background-color: #f8f9fb; }


.btn {
    -webkit-transition: none;
    transition: none; }
.btn:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 600;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.05rem #ff5858;
          box-shadow: 0 0 0 0.05rem #ff5858; }
.btn.disabled, .btn:disabled {
  opacity: 0.65; }
.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

a.btn.disabled,
fieldset:disabled a.btn {
pointer-events: none; }

.btn-itmeo {
  color: #fff;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border:none; }
  .btn-primary:hover {
    color: #fff;
    background-image: linear-gradient(-80deg, #ff5858 0%, #f09819 100%);
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem#ff5858;
            box-shadow: 0 0 0 0.2rem #ff5858 }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ff5858;
    border-color: #ff5858; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff5858;
    border-color: #ff5858; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      -webkit-box-shadow: 0 0 0 0.2rem #ff5858;
              box-shadow: 0 0 0 0.2rem #ff5858; }
    }

  .btn-salmon {
    color: #fff;
    background-color: #ff5858;
    border:none; }

  .btn-halloween {
    color: #fff;
    background-color: #f09819;
    border:none; }
.bg-note {
  color:white;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.job-details {
  margin-left: 15px;
}

 /******************** NOTIFICATIONS ********************/ 


.jq-icon-warning{
  background-color: #f1921f;
}

.jq-icon-error{
  background-color: #fe5e52;
}

.jq-icon-success{
  background-color: rgba(0, 0, 0, 0.9);
}

.jq-icon-info{
  background-color: rgba(0, 0, 0, 0.9);
}

.contact {
  margin-left: 15px;
}

/******************** UPLOAD ********************/
 .image-upload>input {
   display: none;
 }

 .image-upload>label {
   cursor: pointer;
 }

 .upload-item {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .col-card-download {
   margin-top: 30px;
 }

 .fa-cloud-download-alt {
   color: white;
 }
 .text-transparent-black {
   color: rgba(0, 0, 0, 0.7)!important;
 }




 /******** FOOTER *************************/

 .footer-main {
   position: relative;
 }