@media all and (orientation: portrait)
{
  .tasks {
    margin-right: 0rem;
    width: 100%; }

  .task-list-items {
    display: none
  }

  .p-3 {
    padding: 0.5rem!important;
  }

  .create-index-landscape {
    display: none
  }

  .create-index-portrait {
    display: block;
    display: flex;
    justify-content: center;
  }

  .create-application-button {
    border-radius: 2rem;
  }

  .content {
    width: 95%;
  }
  
  .task-list-items {
    min-height: 60px;
  }

  .task-list-items:before {
    line-height: 6;
  }
  .row-card {
    display: none;
  }
  /*
  #task-list-one:before {
    line-height: 60px;
  }
  */

  .mobile {
    display: inline-block!important;
  }

  .collapse-job-details {
    display: none;
  }


/*********************LANDING PAGE****************/

  .bg-image-lp{
    background-position: left 0% top 0%;
    background-size: 100%;
  }

.lp-title{
  font-weight: 550;
   color: rgba(255, 255, 255, 0.5);
}

.logo-mycareermanager{
  background: url(/assets/logo-mycareermanager-small);
  width: 250px;
  height: 90px;
}

.lp-logo{
   color: rgba(255, 255, 255, 0.8);
   border-color: rgba(255, 255, 255, 0.8);
}

.lp-phrase{
   color: rgba(255, 255, 255, 0.5);

}

.lp-features-list{
  margin-top: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
} 

/******************** MODAL STEP - SHOW_APPLICATIONS ********************/

.pb-4, .py-4{
  padding-bottom: 1rem !important;
}

.pt-4, .py-4{
  padding-top: 1rem !important;
}

}
