/* index ************************************************/

.content-page {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

.text-body {
  font-size: 20px;
}

.badge {
  font-size: 14px;
}

.float-right {
  font-size: 14px;
}

.tasks {
  width: 23%; 
}

.mt-2 {
  margin-bottom: 0rem!important;
}

.create-index-portrait {
  display: none
}

.next-step-header {
  background-color: rgb(209, 182, 60)!important;
}

.create-application-button {
  border-radius: 2rem;
}



/*******************************************************/

/* fixed screen size for show_application*/
.d-lg-block {
  display: block !important;
}

/********************INDEX_CONTACTS********************/


/* make the email and phone icon disappear for large screens on index_contacts*/
   i.link-icon-sm{
    display: none;
  }

  .link-text-lg{
    margin-bottom: 0px;
  }

   i.link-icon-sm{
    margin-bottom: 0px;
  }