@media all and (orientation: portrait)
{
  .tasks.tasks:not(:last-child) {
    margin-right: 0rem;
    width: 100%; }

  .task-list-items {
    display: none
  }

  .p-3 {
    padding: 0.5rem!important;
  }







}
