 <% if signed_in? %>
<footer class="footer footer-alt text-dark">
  <div class="container">
    <div class="row pt-md">
      <div class="col-md-6">
        <div class="copyright text-sm text-center text-md-left">
            <span class="copyright">2019 © THP - My Career Manager </span><i class="far fa-handshake"></i>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="https://instagram.com/the_hacking_project" target="_blank">
            <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/charles_fr1718" target="_blank">
            <i class="fab fa-twitter-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/thehackingproject" target="_blank">
            <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
 <% end %>
