 <% if signed_in? %>
<footer class="footer footer-alt footer-main">
        <div class="d-flex justify-content-center copyright text-sm text-transparent-black">
            <span class="copyright">© My Career Manager 2019</span>
  </div>
</footer>
 <% end %>
