 <% if signed_in? %>
<footer class="footer footer-alt">
  <div class="container d-flex justify-content-center">

        <div class="copyright text-sm text-center text-transparent-black">
            <span class="copyright">© My Career Manager 2019</span>

    </div>
  </div>
</footer>
 <% end %>
