<div id="multiple-one" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-twoModalLabel" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-black-form">
        <div class="modal-header">
          <h4 class="modal-title" id="multiple-twoModalLabel">Modal Heading</h4>
          <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <h5 class="mt-0">Text in a modal</h5>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-itmeo" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>