<div id="multiple-one" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">1. Add an application...</h5>
					<p>... from the navbar or from the button in one of the headings' columns</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-two" data-toggle="modal" data-dismiss="modal">Next</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- Modal two--->
<div id="multiple-two" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">2. View or edit application details...</h5>
					<p>... by clicking directly on the application's card from the homepage. You'll be able to add/edit job details, contact details, and notes relevant to your application.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-one" data-toggle="modal" data-dismiss="modal">Back</button>
					<button type="button" class="btn btn-itmeo" data-target="#multiple-three" data-toggle="modal" data-dismiss="modal">Next</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- Modal three--->
<div id="multiple-three" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">3. View your next steps</h5>
					<p>Any interview or follow-up planned yet? They will appear in the column on the left of your dashboard called "Next steps" as a reminder</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-two" data-toggle="modal" data-dismiss="modal">Back</button>
					<button type="button" class="btn btn-itmeo" data-target="#multiple-four" data-toggle="modal" data-dismiss="modal">Next</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- Modal four--->
<div id="multiple-four" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">4. Add a next step</h5>
					<p>Add a step on the application page and validate it with the checkbox when it's completed. It will then appear below in "steps done".</p>
					<p>Past steps will also be added as a line in your application's notes in case you'd want to write anything related to that particular meeting or experience.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-three" data-toggle="modal" data-dismiss="modal">Back</button>
					<button type="button" class="btn btn-itmeo" data-target="#multiple-five" data-toggle="modal" data-dismiss="modal">Next</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- Modal five--->
<div id="multiple-five" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">5. Archive an application</h5>
					<p>Click on "Archive" at the bottom of your application's page.</p>
					<p>You can access all archived applications by going to your profile (your email on the navbar >> my profile) and clicking on "Archived applications".</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-four" data-toggle="modal" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-itmeo" data-target="#multiple-six" data-toggle="modal" data-dismiss="modal">Next</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!-- Modal six--->
<div id="multiple-six" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-modal="true" style="padding-right: 15px; display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-black-form">
				<div class="modal-header">
					<h4 class="modal-title" id="multiple-oneModalLabel">Getting Started</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">
					<h5 class="mt-0">6. Upload your CV on your profile</h5>
					<p>Your profile sums up relevant information for you like the total number of applications and steps you saved. You can also store your CV in your profile by uploading it.</p>
					</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-itmeo" data-target="#multiple-five" data-toggle="modal" data-dismiss="modal">Back</button>
					<button type="button" class="btn btn-itmeo" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>
<!--end of modals--->
