		<div class="container d-flex flex-column lp-main-container">
			<div class="container d-flex logo-container">
				<div class= "logo-mycareermanager"></div>
			</div>

			<div class="lp-title-container container d-flex justify-content-center align-items-center flex-column">

				<h2 class="lp-title mb-3 display-4 text-center">Your job search organizer</h2>

				<h3 class="lp-phrase text-center"> Apply, organize and never miss an opportunity again</h3>
				<small class="lp-features-list text-center"> CV upload - Application organizer - Interview planning</small>

			</div>

		</div>
		<!-- end main container right side -->