<!-- Auth fluid right content -->
		<div class="auth-fluid-right text-center">
			<div class="auth-user-testimonial">
				<h2 class="mb-3">Never miss a professional opportunity again!</h2>
				<p class="lead"> Your job search. Hands on. Designed for hard workers.
		            </p>
				<p>
		            - THP  2019 -
		            </p>
			</div>
			<!-- end auth-user-testimonial-->
		</div>
		<!-- end Auth fluid right content -->